
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li><a href="~/Home/Index">@EpostWeb.Resources.HomeTexts.Home</a></li>
                    <li class='active'>@EpostWeb.Resources.HomeTexts.SignIn</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->
    <div class="body-content">
        <div class="container">
            <div class="sign-in-page">
                <div class="row">
                    <!-- Sign-in -->
                    <div class="col-md-6 col-sm-6 sign-in">
                        <h4 class="">@EpostWeb.Resources.HomeTexts.SignIn</h4>
                        <p class="">@EpostWeb.Resources.HomeTexts.HelloWelcome .</p>
                        <form class="register-form outer-top-xs" role="form">
                            <div class="form-group">
                                <label class="info-title">@EpostWeb.Resources.HomeTexts.EmailAddress <span>*</span></label>
                                <input type="email" class="form-control unicase-form-control text-input">
                            </div>
                            <div class="form-group">
                                <label class="info-title" for="exampleInputPassword1">@EpostWeb.Resources.HomeTexts.Password <span>*</span></label>
                                <input type="password" class="form-control unicase-form-control text-input" id="exampleInputPassword1">
                            </div>
                            <div class="radio outer-xs">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">@EpostWeb.Resources.HomeTexts.RememberMe!
                                </label>
                                <a href="#" class="forgot-password pull-right">@EpostWeb.Resources.HomeTexts.ForgotYourPassword?</a>
                            </div>
                            <button type="submit" class="btn-upper btn btn-primary checkout-page-button">@EpostWeb.Resources.HomeTexts.Login</button>
                        </form>
                    </div>
                    <!-- Sign-in -->
                    <!-- create a new account -->
                    <div class="col-md-6 col-sm-6 create-new-account">
                        <h4 class="checkout-subtitle">@EpostWeb.Resources.HomeTexts.CreateAccount</h4>
                        <p class="text title-tag-line">@EpostWeb.Resources.HomeTexts.CreateNewAccount.</p>
                        <form class="register-form outer-top-xs" role="form">
                            <div class="form-group">
                                <label class="info-title" for="email">@EpostWeb.Resources.HomeTexts.EmailAddress <span>*</span></label>
                                <input type="email" class="form-control unicase-form-control text-input" id="email">
                            </div>
                            <div class="form-group">
                                <label class="info-title">@EpostWeb.Resources.HomeTexts.Name <span>*</span></label>
                                <input type="email" class="form-control unicase-form-control text-input">
                            </div>
                            <div class="form-group">
                                <label class="info-title">@EpostWeb.Resources.HomeTexts.PhoneNumber <span>*</span></label>
                                <input type="email" class="form-control unicase-form-control text-input">
                            </div>
                            <div class="form-group">
                                <label class="info-title">@EpostWeb.Resources.HomeTexts.Password <span>*</span></label>
                                <input type="email" class="form-control unicase-form-control text-input">
                            </div>
                            <div class="form-group">
                                <label class="info-title">@EpostWeb.Resources.HomeTexts.ConfirmPassword<span>*</span></label>
                                <input type="email" class="form-control unicase-form-control text-input">
                            </div>
                            <button type="submit" class="btn-upper btn btn-primary checkout-page-button">@EpostWeb.Resources.HomeTexts.SignUp</button>
                        </form>


                    </div>
                    <!-- create a new account -->
                </div><!-- /.row -->
            </div><!-- /.sigin-in-->
            
        </div><!-- /.container -->
    </div><!-- /.body-content -->
    <!-- ============================================================= FOOTER ============================================================= -->

